@import "../base.css";

.todo-container {
  width: 100%;
}

ul li {
  width: 400px;
  background-color: var(--secondary-color);
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
}

input[type="checkbox"] {
  padding: 5px;
}

.todo {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.todo-left {
  display: flex;
  align-items: center;
  gap: 10px;
}

.todo-right {
  display: flex;
  gap: 10px;
}

.icon {
  cursor: pointer;
}
