/* Google Font */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

:root {
  --primary-color: #b67cff;
  --secondary-color: #f7f7f7;
  --white-color: #fff;
  --black-color: #181818;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  /* height: 100vh; */
  background-color: var(--primary-color);
  color: var(--black-color);
}

ul {
  list-style: none;
  color: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}
